<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shubham.planexakhada">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScheduleLayout"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DietTips"
            android:label="@string/title_activity_diet_tips"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CardioTips"
            android:label="@string/title_activity_cardio_tips"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DosDonts"
            android:label="@string/title_activity_dos_donts"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".Info"
            android:theme="@style/AppTheme.MaterialAboutActivity"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>